<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- SMS Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <!-- Other required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    
    <application
        android:name=".PrivacySMSApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrivacySMS"
        tools:targetApi="31">
        
        <!-- Auth Activity (Launcher) -->
        <activity
            android:name=".ui.AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.PrivacySMS"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Default SMS app intents -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        
        <!-- Conversation Activity -->
        <activity
            android:name=".ui.ConversationActivity"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <!-- Archive Activity -->
        <activity
            android:name=".ui.ArchiveActivity"
            android:parentActivityName=".ui.MainActivity" />
        
        <!-- Settings Activity -->
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.MainActivity" />
        
        <!-- Profile Activity -->
        <activity
            android:name=".ui.ProfileActivity"
            android:parentActivityName=".ui.MainActivity" />
        
        <!-- Contacts Activity -->
        <activity
            android:name=".ui.ContactsActivity"
            android:parentActivityName=".ui.MainActivity" />
        
        <!-- Vault Activity -->
        <activity
            android:name=".ui.VaultActivity"
            android:parentActivityName=".ui.MainActivity" />
        
        <!-- Change PIN Activity -->
        <activity
            android:name=".ui.ChangePinActivity"
            android:parentActivityName=".ui.SettingsActivity" />
        
        <!-- Change Pattern Activity -->
        <activity
            android:name=".ui.ChangePatternActivity"
            android:parentActivityName=".ui.SettingsActivity" />
        
        <!-- SMS Receiver -->
        <receiver
            android:name=".receiver.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        
        <!-- MMS Receiver -->
        <receiver
            android:name=".receiver.MmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
